{$DOMAIN_NAME} {
     tls {$TLS_EMAIL}
     log /log/caddy.log
     errors /log/error.log
     encode {
         gzip
         zstd
     }

     import /etc/caddyusers/users

     # PHP-FPM Configuration for Caddy
     php_fastcgi php:9005
 }
