{$DOMAIN_NAME} {
    tls {$TLS_EMAIL}
    encode {
        gzip
        zstd
    }
    root * {$PHP_APP_DIR}
    log {
        output file /log/access.log {
            roll_size 1gb
            roll_keep 5
            roll_keep_for 720h
        }
    }     

    import /etc/caddyusers/users

    # PHP-FPM Configuration for Caddy
    php_fastcgi php:9005
}
